<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<head>
    <title>Vehicle Dealership - Overview</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{../../style.css}">
</head>

<body>
<div class="content">

    <a href="/vehicle">
        <img align="left" src="../../images/logo.png" width="170" height="88"
             th:src="@{/images/logo.png}" th:alt-title="#{back}"/>
    </a>

    <img align="middle" src="../../images/cars.png"
         th:src="@{/images/cars.png}" th:alt-title="#{logo}"/>

    <div1>
        <p1>Vehicle Dealership - Overview</p1>
        <br>
    </div1>

    <br>

    <div4>
        <span th:if="${currentUser != null}" th:text="${currentUser.username}"></span>
    </div4>

    <br><br>

    <table id="users">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="user : ${users}">
            <td th:text="${user.id}" width="15">1</td>
            <td th:text="${user.email}" width="100" align="middle">1</td>
            <td th:text="${user.username}" width="100" align="middle">1</td>
            <td th:text="${user.password}" width="100" align="middle">1</td>
            <td th:text="${user.mobile}" width="100" align="middle">1</td>
            <td th:text="${user.address}" width="200" align="middle">1</td>
            <td th:text="${user.roles}" width="100" align="middle">1</td>

            <td>
                <form th:action="@{/getUsers/removeUser/} + ${user?.id} + '/'" th:object="${registerUser}"
                      method="delete">
                    <input type="submit" value="Delete"/>
                </form>
            </td>


        </tr>
        </tbody>
    </table>

</div>
</body>
</html>