<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehicle Dealership</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="#" th:action="@{/index}" th:object="${room}" method="post">
    <div>
        <label th:for="${roomType}">Room Typel</label>

        <input type="text" id="roomType" name="roomType" th:value="*{roomType}" />
    </div>
    <div>
        <label th:for="${floor}">Floor</label>

        <input type="text" id="floor" name="floor" th:value="*{floor}" />
    </div>
    <div>
        <input type="submit" id="doUpdate" name="save room" value="create room"/>
    </div>
</form>

<br/>
<br/>

</body>
</html>