<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <title>Update Vehicle</title>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{../../style.css}">
</head>
<body>
<div>
    <a href="/vehicle">
        <img align="left" src="../../images/logo.png" width="170" height="88"
             th:src="@{/images/logo.png}" th:alt-title="#{back}"/>
    </a>
    <br><br><br><br><br><br><br><br>

<div1><p1>Update profile</p1></div1>

<form action="#" th:action="@{/getUsers/update/} + ${userId} + '/'" th:object="${updateRegisterUserRequest}"
      method="post">
    <div2>
        <label th:for="${email}">Email: </label>
        <input type="text" id="email" name="email" th:value="*{email}"/>
        <br>
        <br>
        <label th:for="${mobile}">Mobile No.: </label>
        <input type="text" id="mobile" name="mobile" th:value="*{mobile}"/>
        <br>
        <br>
        <label th:for="${address}">Address: </label>
        <input type="text" id="address" name="address" th:value="*{address}"/>
    </div2>
    <br>
    <div5>
        <input type="submit" id="doUpdate" name="save user" value="Update details"/>
    </div5>
</form>

</div>
</body>
</html>