<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <title>Update Vehicle</title>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded; charset=UTF-8" />
</head>
<body>


<form action="#" th:action="@{/vehicle/update/} + ${vehicleId} + '/'" th:object="${updateVehicleRequest}" method="post">
    <div>
        <label th:for="${vmodel}">Model: </label>
        <input type="text" id="vmodel" name="vmodel"/>
    </div>

    <div>
        <label th:for="${vname}">Name: </label>
        <input type="text" id="vname" name="vname"/>
    </div>

    <div>
        <label th:for="${vyear}">Year: </label>
        <input type="text" id="vyear" name="vyear"/>
    </div>

    <div>
        <label th:for="${vcolor}">Color: </label>
        <input type="text" id="vcolor" name="vcolor"/>
    </div>

    <div>
        <label th:for="${vcost}">Price: </label>
        <input type="text" id="vcost" name="vcost"/>
    </div>

    <div>
        <input type="submit" id="doUpdate" name="save vehicle" value="Update car"/>
    </div>
</form>
</body>
</html>